h1,
h6,
h2,
form,
button,
ul,
.col-2,
.temperature,
#source-code-link {
  font-family: "Sarala", sans-serif;
}
.weather-app,
.col-2 {
  border: 1.5px solid #464159;
}
#search-city,
#current-location,
#find-city {
  border: 1px solid #464159;
}

h6,
h2,
ul,
.temperature {
  color: #6c7b95;
}
h1,
#day-of-week {
  color: #464159;
}

#current-location,
#search-city {
  background-color: #6c7c95;
  color: #464159;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 1px #464159;
}
#search-city:hover,
#current-location:hover {
  background: #99a9c4;
}

ul {
  list-style: none;

  padding: 50px;
  text-align: center;
}

.city {
  font-size: 50px;
  text-align: center;
}

.weather-app {
  max-width: 700px;
  margin: 75px auto;
  padding: 20px;
  border-radius: 8px;

  background-image: linear-gradient(
    -225deg,
    #c7f0db 20%,
    #8bbabb 45%,
    #6c7b95 100%
  );
}
.col-2 {
  border-radius: 8px;
  text-align: center;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #524c68;
}
.temperature {
  font-size: 35px;
}

.fas {
  font-size: 30px;
  padding: 5px;
}
.fa-sun {
  font-size: 40px;
}
#source-code-link {
  text-align: center;
}
#temperature-scale {
  font-size: 15px;
}
#weather-icon {
  color: #4cacad;
}
#current-temperature {
  font-size: 60px;
  text-align: center;
}
#day-of-week {
  font-weight: 700;
}
