h1,
h6,
h2,
form,
button,
ul,
.col-2,
.temperature,
#source-code-link {
  font-family: "Sarala", sans-serif;
}
.weather-app,
.col-2 {
  border: 1.5px solid #464159;
}
#search-city,
#current-location,
#find-city {
  border: 1px solid #464159;
}

h6,
ul,
h2,
.temperature {
  color: #6c7b95;
}
h1,
#day-of-week {
  color: #464159;
}

ul {
  list-style: none;

  padding: 10px;
}
.city {
  font-size: 50px;
}

.weather-app {
  max-width: 700px;
  margin: 75px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #c7f0db;
}
.col-2 {
  border-radius: 8px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.temperature {
  font-size: 35px;
}

.fas {
  font-size: 30px;
  padding: 5px;
}
.fa-sun {
  font-size: 40px;
}
#source-code-link {
  text-align: center;
}
#temperature-scale {
  font-size: 15px;
}
#weather-icon {
  color: #8bbabb;
}
#current-temperature {
  font-size: 60px;
}
